			
/*Style pour le script de 'laltimètre*/
			figure {
				background-color: rgb(34, 35, 37);
				border-top: 1px solid rgb(255, 204, 0);
				border-bottom: 1px solid rgb(255, 204, 0);

				width: 100%;
				min-width: 780px;
				padding: 0;
				margin: 0;
			}		

			figure * {
				margin: 0;
				padding: 0;
			}	

			#test_altimetre {
				position: relative;
				width: 780px;
				min-height: 400px;

				margin: auto;
				margin-top: 40px;
			}

			#colonne_gauche {
				position: absolute;
				left: 0px;
				top: 0px;

				width: 270px;
				min-height: 300px;
			}

			#colonne_droite {
				position: absolute;
				right: 0px;
				top: 0px;

				width: 500px;
				min-height: 300px;
			}


			/*Colonne de droite*/
			#pression_mer {
				width: 100%;
			}

			#pression_mer ul, #valeurs ul {
				list-style-type: none;

				border: 2px solid rgb(125, 169, 206);
			}

			#pression_mer ul li, #valeurs ul li{
				min-height: 25px;
				padding-left: 5px;
			}

			#anticyclone {
				border-top: 1px solid rgb(222, 222, 222);
			}

			#depression {
				border-bottom: 1px solid rgb(222, 222, 222);
			}

			.pression_mer_selectionne {
				background-color: rgb(125, 169, 206);
				color: white;
			}

			.pression_mer_survol {
				background-color: white;
				color: black;
			}

			.pression_mer_survol:hover {
				background-color: rgb(240, 240, 240);
			}

			#legende_meteo {
				color: rgb(240, 240, 240);

				text-align: center;
				text-decoration: underline;
			}


			#formule_donnee {
				margin-top: 15px;
				padding: 5px;

				background-color: white;
				border: 2px solid rgb(125, 169, 206);
				border-bottom: none;
			}

			#formule_donnee:hover {
				background-color: rgb(240, 240, 240);
			}

			#valeurs ul li {
				background-color: white;
				border-bottom: 1px solid rgb(222, 222, 222);
			}

			#valeurs ul li:hover {
				background-color: rgb(240, 240, 240);
			}

			#formule_resultat {
				background-color: white;
				border: 2px solid rgb(125, 169, 206);
				border-top: none;
			}

			#formule_resultat p {
				border-bottom: 1px solid rgb(222, 222, 222);
			}

			#formule_resultat p:hover {
				background-color: rgb(240, 240, 240);
			}

			#resultat {
				font-weight: bold;
			}



			/*colonne de gauche*/
			#colonne_gauche form p:first-child{
				width: 100%;
				min-height: 62px;

				border: 2px solid rgb(125, 169, 206);
				background-color: white;

				padding-top: 15px;
			}

			#colonne_gauche form p {
				text-align: center;
			}

			#colonne_gauche form input[type='range'] {
				width: 200px;
			}

			#colonne_gauche form label {
				color: white;
				text-decoration: underline;
			}

			#plus_moins {
				font-size: 1.3em;
				position: relative;
				top: -4px;
			}


			#schema_altimetre {
				position: relative;

				background-image: url(../images/partie1/fond2.png);
				background-color: rgb(125, 169, 206);
				background-position: bottom;
				background-repeat: repeat-x;

				margin-top: 15px;

				border: 2px solid black;

				width: 100%;
				min-height: 200px;
			}

			#schema_altimetre img {
				position: absolute;
				left: 44px;
				bottom: 45px;

				padding: 0;
				margin: 0;

				-moz-transition: bottom 2s linear;
				-webkit-transition: bottom 2s linear;
				-ms-transition: bottom 2s linear;
				-o-transition: bottom 2s linear;
				transition: bottom 2s linear;
			}

			#schema_altimetre span {
				background-color: white;
				padding: 0px 5px 0px 5px;
			}













					/*Schéma de l'horizona rtificiel*/
			#figure_horizon {
				width: 100%;
				margin: 0;
				padding: 0;

				background-color: rgb(34, 35, 37);
				font-family: open_light, helvetica, verdana;

				border-top: 1px solid rgb(255, 204, 0);
				border-bottom: 1px solid rgb(255, 204, 0);
			}

			#figure_horizon * {
				margin: 0;
				padding: 0;
			}

			#conteneur_horizon {
				width: 740px;
				margin: auto;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			#illustration_horizon{
				position: relative;
				height: 440px;

			}

			#horizon_artificiel {
				position: absolute;
				left: 480px;

				margin: auto;
				margin-top: 20px;

				width: 260px;
				height: 260px;

				box-shadow: 1px 1px 12px black;

				background: url(../images/partie1/fond.png) repeat-x;
				background-position: top;
			}

			#partie_fixe {
				position: relative;
				z-index: 2;

				width: 260px;
				height: 260px;

				background: url(../images/partie1/cadre_horizon2.png) no-repeat, url(../images/partie1/fixe.png) no-repeat;
				background-position: top center;
			}

			#partie_mobile {
				position: absolute;
				z-index: 1;

				background-image: url(../images/partie1/mobile.png);

				top: 30px;
				left: 27px;

				width: 203px;
				height: 203px;

				text-align: center;
			}

			/*Schéma de l'avion*/
			#illustration_avion {
				position: absolute;
				left: 0px;

				background-image: url(../images/partie1/fond.png);
				margin: auto;
				margin-top: 20px;

				width: 473px;
				height: 260px;

				box-shadow: 2px 2px 12px black;
			}	

			#avion {
				position: absolute;
				top: 50px;
				left: 12px;

				z-index: 2;
				
				background-image: url(../images/partie1/schema_avion.png);

				width: 453px;
				min-height: 118px;

			}

			#gyroscope {
				position: absolute;
				z-index: 1;

				top: 105px;
				left: 228px;

				width: 19px;
				min-height: 53px;

				background-image: url(../images/partie1/gyroscope.png);
				background-repeat: repeat-y;
			}

			/*Volant*/
			#direction {
				position: absolute;
				bottom: 110px;
				left: 245px;

				z-index: 25;

				width: 330px;
				min-height: 161px;

				background-image: url(../images/partie1/volant.png);
			}

			#tourne_gauche {
				position: absolute;
				top: 0px;
				left: 0px;

				width: 165px;
				min-height: 161px;
			}

			#tourne_droite {
				position: absolute;
				top: 0px;
				left: 165px;

				width: 165px;
				min-height: 161px;
			}

			/*Animation*/
			#partie_mobile, #avion, #direction {
            	-moz-transition: transform 2s linear;
            	-webkit-transition: transform 2s linear;
           		-o-transition: transform 2s linear;
           		-ms-transition: transform 2s linear;
           		transition: transform 2s linear;
			} 

				/*Legende*/
			#figure_horizon figcaption {
				position: absolute;
				bottom: 0px;
				
			}

			figcaption {
				background-color: white;

				border: 2px solid rgb(125, 169, 206);

				font-size: 1em;
				text-align: center;
			}

			figcaption p {
				border-bottom: 1px solid rgb(222, 222, 222);
			}

			figcaption p:hover, figcaption h1:hover {
				background-color: rgb(240, 240, 240);
			}

			figcaption h1 {
				text-decoration: none;
				font-weight: normal;

				font-size: 1.5em;
			}

			figcaption img {
				height: 30px;
			}




			/*CSS pour le script d el'alidade*/
			#test_alidade {
				position: relative;
				width: 840px;
				min-height: 400px;

				margin: auto;
				margin-top: 40px;
				margin-bottom: 40px;
			}

			#test_alidade figcaption {
				margin: auto;
				margin-top: 10px;

				font-size: 1.2em;
				text-decoration: underline;

				width: 418px;
			}

			#legende_alidade {
				margin: auto;
				margin-top: 10px;

				width: 100%;

				text-align: center;
				font-size: 1em;

				background-color: white;
				border: 2px solid rgb(125, 169, 206);
			}

			/*Scchéma du triangle*/
			#schema_alidade {
				margin: auto;
				margin-top: 0px;

				width: 400px;
				min-height: 424px;

				position: relative;

				-webkit-transition: min-height 1s linear, width 1s linear;
				-o-transition: min-height 1s linear, width 1s linear;
				-moz-transition: min-height 1s linear, width 1s linear;
				-ms-transition: min-height 1s linear, width 1s linear;
				transition: min-height 1s linear, width 1s linear;
			}

			#schema_alidade div {
				-webkit-transition: width 1s linear, min-height 1s linear, top 1s linear, transform 1s linear;
				-o-transition: width 1s linear, min-height 1s linear, top 1s linear, transform 1s linear;
				-moz-transition: width 1s linear, min-height 1s linear, top 1s linear, transform 1s linear;
				-ms-transition: width 1s linear, min-height 1s linear, top 1s linear, transform 1s linear;
				transition: width 1s linear, min-height 1s linear, top 1s linear, transform 1s linear;
			}

			#cote_x {
				position: absolute;
				top: 0px;
				left: 0px;

				width: 2px;
				min-height: 424px;

				background-color: red;
			}

			#cote_y {
				position: absolute;
				top: 424px;
				left: 0px;

				width: 424px;
				min-height: 2px;

				background-color: purple;
			}

			#cote_z {
				position: absolute;
				top: 0px;
				left: 0px;

				width: 2px;
				min-height: 600px;

				-webkit-transform-origin: top;
				-webkit-transform: rotate(-45deg);
				-o-transform-origin: top;
				-o-transform: rotate(-45deg);
				-moz-transform-origin: top;
				-moz-transform: rotate(-45deg);
				-ms-transform-origin: top;
				-ms-transform: rotate(-45deg);
				transform-origin: top;
				transform: rotate(-45deg);

				background-color: green;
			}

			#angle_alpha {
				background-image: url(../images/partie1/schema_alpha.png);
				width: 32px;
				min-height: 32px;

				position: absolute;
				top: 90%;
				left: 80%;
			}

			#schema_avion_alidade {
				background-image: url(../images/partie1/schema_avion_altimetre.png);

				width: 112px;
				min-height: 72px;

				position: absolute;
				top: -30px;
				left: -57px;

				-webkit-transform: scale(0.5);
				-o-transform: scale(0.5);
				-ms-transform: scale(0.5);
				-moz-transform: scale(0.5);
				transform: scale(0.5);
			}


			/*Choix du côté à calculer*/
			#parametre_cote {
				width: 50%;

				margin: auto;
				margin-top: 10px;
			}

			#parametre_cote ul {
				list-style-type: none;
				background-color: white;
				border: 2px solid rgb(125, 169, 206);
			}

			#parametre_cote ul li {
				min-height: 25px;
				padding-left: 5px;
			}

			#choix_cote_x, #legende_alidade li {
				border-bottom: 1px solid rgb(222, 222, 222);
			}

			.choix_cote_selectionne {
				background-color: rgb(125, 169, 206);
				color: white;
			}

			.choix_cote_normal {
				background-color: white;
				color: black;
			}

			.choix_cote_normal:hover, #legende_alidade li:hover {
				background-color: rgb(240, 240, 240);
			}

			#legende_choix_cote {
				color: rgb(240, 240, 240);

				text-align: center;
				text-decoration: underline;
			}

			#test_alidade  #legende_alidade li:nth-child(5) {
				border: none;
			}

			#legende_alidade {
				margin-bottom: 10px;
				text-align: left;
			}


			/*Choix de l'angle et de y*/
			#parametre_alpha, #parametre_longueur_z {
				text-align: center;
				margin: auto;
				width: 50%;

				margin-top: 10px;
			}

			#parametre_alpha p:nth-of-type(1), #parametre_longueur_z p:nth-of-type(1) {
				background-color: white;
				border: 2px solid rgb(125, 169, 206);
			}

			#parametre_alpha p:nth-of-type(2), #parametre_longueur_z p:nth-of-type(2) {
				text-decoration: underline;
			}

			#parametre_alpha:hover p:nth-of-type(1), #parametre_longueur_z:hover p:nth-of-type(1) {
				background-color: rgb(240, 240, 240);
			}

			#parametre_alpha p:nth-of-type(2), #parametre_longueur_z p:nth-of-type(2) {
				text-decoration: underline;
				color: white;
			}


			/*Affichage de la formule*/
			#resultat_alidade {
				width: 50%;

				margin: auto;
				margin-top: 10px;
			}

			#resultat_alidade ul {
				list-style-type: none;

				border: 2px solid rgb(125, 169, 206);
			}

			#resultat_alidade ul li {
				min-height: 25px;
				padding-left: 5px;
				border-bottom: 1px solid rgb(222, 222, 222);
				background-color: white;
			}

			#resultat_alidade ul li:nth-child(5) {
				border-bottom: none;
			}

			#resultat_alidade ul li:hover {
				background-color: rgb(240, 240, 240);
			}

